Django

numpy

scipy

scikit-learn

requests

rich

safetensors

whitenoise

networkx

astunparse

certifi

charset-normalizer

click

cloudinary

colorama

contourpy

cycler
django-cloudinary-storage


django-cloudinary-storage

tensorflow-cpu

gunicorn
