--extra-index-url https://download.pytorch.org/whl/cpu
absl-py
anyio
asgiref
astunparse
certifi
charset-normalizer
click
cloudinary
colorama
contourpy
cycler
Django<6.0
django-cloudinary-storage
filelock
flatbuffers
fonttools
fsspec
ftfy
gast
google-pasta
grpcio
gunicorn
h11
h5py
hf-xet
httpcore
httpx
huggingface_hub
idna
Jinja2
joblib
keras
kiwisolver
libclang
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml_dtypes
mpmath
namex
narwhals
networkx
numpy
nvidia-ml-py
open_clip_torch
opencv-python-headless
opt_einsum
optree
packaging
pandas
pillow
polars
polars-runtime-32
protobuf
psutil
Pygments
pyparsing
python-dateutil
python-dotenv
PyYAML
regex
requests
rich
safetensors
scikit-learn
scipy
seaborn
setuptools
six
sqlparse
sympy
tensorflow
termcolor
threadpoolctl
timm
torch
torchvision
tqdm
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
wcwidth
wheel
whitenoise
wrapt
xgboost

--extra-index-url https://download.pytorch.org/whl/cpu
