--extra-index-url https://download.pytorch.org/whl/cpu
absl-py==2.4.0
anyio==4.14.1
asgiref==3.11.1
astunparse==1.6.3
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.4.2
cloudinary==1.45.0
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
Django<6.0
django-cloudinary-storage==0.3.0
filelock==3.29.5
flatbuffers==25.12.19
fonttools==4.63.0
fsspec==2026.6.0
ftfy==6.3.1
gast==0.7.0
google-pasta==0.2.0
grpcio==1.81.1
gunicorn==26.0.0
h11==0.16.0
h5py==3.14.0
hf-xet==1.5.1
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.22.0
idna==3.18
Jinja2==3.1.6
joblib==1.5.3
keras==3.15.0
kiwisolver==1.5.0
libclang==18.1.1
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.11.0
mdurl==0.1.2
ml_dtypes==0.5.4
mpmath==1.3.0
namex==0.1.0
narwhals==2.22.1
networkx==3.6.1
numpy
nvidia-ml-py==13.610.43
open_clip_torch==3.3.0
opencv-python-headless==5.0.0.93
opt_einsum==3.4.0
optree==0.19.1
packaging==26.2
pandas==3.0.4
pillow==12.2.0
polars==1.42.1
polars-runtime-32==1.42.1
protobuf==7.35.1
psutil==7.2.2
Pygments==2.20.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
regex==2026.6.28
requests==2.34.2
rich==15.0.0
safetensors==0.8.0
scikit-learn==1.9.0
scipy==1.18.0
seaborn==0.13.2
setuptools==81.0.0
six==1.17.0
sqlparse==0.5.5
sympy==1.14.0
tensorflow==2.21.0
termcolor==3.3.0
threadpoolctl==3.6.0
timm==1.0.27
torch==2.12.1
torchvision==0.27.1
tqdm==4.68.3
typing_extensions==4.15.0
tzdata==2026.2
ultralytics==8.4.87
ultralytics-thop==2.0.20
urllib3==2.7.0
wcwidth==0.8.2
wheel==0.47.0
whitenoise==6.12.0
wrapt==2.2.2
xgboost==3.3.0

--extra-index-url https://download.pytorch.org/whl/cpu
